header {
    max-width: 320px;
    margin: 0 auto;
    background: #28A745;
    padding-top: 0;
}

.txt1 {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    margin: auto;
    font-weight: lighter;
    font-size: 19px
}

.txt2 {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    margin: auto;
    font-weight: lighter;
    font-size: 13px
}

.txt3 {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    padding-top: 5px;
    text-align: right;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 0px;
    /*margin-left: 53px;*/
}

.txt4 {
    font-family: 'Roboto', sans-serif;
    color: #28A745;
    margin: auto;
    font-weight: revert;
    font-size: 20px;
    /*margin-left: 53px;*/
    margin-right: 10px;
}


.caja1 {
    font-family: 'Roboto', sans-serif;
    width: 278px;
    height: 199;
    margin-top: 30px;
    margin-left: 21px;
    font-weight: lighter;
    font-size: 20px
}

hr {
    background-color: #707070A0;
    align-self: center;
    margin-left: 50%;
    width: 90%;
    margin-top: -12px
}

.caja2 {
   margin-bottom: 47px;
}

.formulario{
    margin-top: 4em;
    background: #28A745;
    height: 241px;
}

.txtform1{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: revert;
    font-size: 21px;
    padding-top: 25px;

}

.txtform2{
    font-family: 'Roboto';, sans-serif;!important;
    color: #707070!important;
    font-weight: 100!important;
    font-size: 16px!important;
    /*padding-top: 25px;*/
    /*padding-bottom: 15px;*/
}

.btn{
    opacity: 100%!important;
    background-color: #FFFFFF!important;
    color: black!important;
}